<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Teacher Dashboard</title>
</head>
<body>
<h1>Teacher Dashboard</h1>

<table border="1">
    <tr>
        <th>Учень</th>
        {% for subject in subjects %}
            <th>{{ subject.title }}</th>
        {% endfor %}
    </tr>

    {% for student in students %}
    <tr>
        <td>{{ student.first_name }} {{ student.last_name }}</td>
        {% for subject in subjects %}
            <td>
                {% for grade in grades %}
                    {% if grade.student == student and grade.subject == subject %}
                        {{ grade.value }}
                    {% endif %}
                {% endfor %}
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

</body>
</html>
